:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.light-mode {
  background: #fff;
  color: #222;
}

.dark-mode {
  background: #222;
  color: #fff;
}

body.dark-mode input,
body.dark-mode .card,
body.dark-mode .form-control {
  background: #333;
  color: #fff;
  border-color: #444;
}

body.dark-mode button {
  background: #444;
  color: #fff;
  border-color: rgb(129, 115, 157);
}